/* AppColors.module.css */

:global(:root) {
  --color-background: #f6f4ef;
  --color-subBackground: #f5f5f5;
  --color-accent-light: #e3f0af;
  --color-accent: #5db996;
  --color-primary: #118b50;
  --color-secondary: #02301a;
}

.backgroundPrimary {
  background-color: var(--color-accent);
}

.body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

.subBody {
  background-color: var(--color-accent-light);
}

.textPrimary {
   color: var(--color-primary)
}

.textSecondary {
   color: var(--color-accent);
}

.textThird {
   color: var(--color-accent-light);
}

.containerPrimary {
   background-color: var(--color-accent);
}

.containerSecondary {
   background-color: var(--color-subBackground);
}

.link {
  color: var(--color-accent);
}

.button {
  background-color: var(--color-accent-light);
  color: var(--color-primary);
}

.autoText {

}

.messageContainer {
  display: flex;
  flex-direction: column;
}

.careNetMessage {
  background-color: #000000;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  align-self: flex-start;  /* Đưa tin nhắn CareNet vào bên trái */
}

.userMessage {
  background-color: #28a745;  /* Màu xanh lá */
  color: white;
  padding: 8px 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  align-self: flex-end;  /* Đưa tin nhắn người dùng vào bên phải */
}