:root {
  --color-background: #f0f0ef;
  --color-accent-light: #E3F0AF;
  --color-accent: #5DB996;
  --color-primary: #118B50;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

a {
  color: var(--color-accent);
}

button {
  background-color: var(--color-accent-light);
  color: var(--color-primary);
}
